@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

html, body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  height: 100vh;
  width: 100vw;
}

#root {
  height: 100%;
}

h1, h2, p, ul, li, span, input {
  margin: 0;
  padding: 0;
}