@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@600&family=Open+Sans:wght@700&display=swap');

body {
  margin: 0
}

h2, p {
  margin: 0;
  padding: 0;
}